<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://www.youtube.com/channel/UCSP1c8ivsEisxsfyafD7gTQ/featured?view_as=subscriber">Youtube</a>
</li>
<li class="nav-item">
<a class="nav-link" href="ihttps://www.instagram.com/webthrifty/">Instagram</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
